#wearecic {
    margin: 20px;
}

.dynamic-box-content {
    display: none;
}


@media (min-width: 992px) {
    .offerings-box {
        height: 600px !important;
        margin-bottom: 20px;

    }
}

@media (min-width: 1100px) {
    .offerings-box {
        height: 550px !important;
        margin-bottom: 20px;

    }
}

@media (min-width: 1550px) {
    .offerings-box {
        height: 500px !important;
        margin-bottom: 20px;

    }
}

@media (max-width: 1199px) {
    .d4 {
        font-size: 36px !important;
    }
}


.offerings-header {
    min-height: 200px;
}

.ci-section-heading {
    margin-bottom: 40px;
}

.bg-alternate {
    background-color: #F2F5F6;

}

.contactusform {
    padding: 24px;

}

.testimonial-photo {
    width: 120px;
    border-radius: 60px;
}

.contact-us-iframe {
    border: none;
    max-width: 100%;
    max-height: 100vh;
    width: 640px;
    height: 620px;
    border-radius: 24px;
}

.team-member-container {
    width: 200px !important;
    padding: 0;
}

.colleague-card {
    height: 380px !important;
    width: 320px;
}

.colleague-item {
    margin: -24px;
}

.mission-keyword {
    color: #00d639;
}